@using My_VillaWeb.Models.VM;
@model VillaNumberUpdateVM



<form asp-action="UpdateVillaNumber">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Chỉnh sửa book Villa</h1>
        <hr />
        <input hidden asp-for="VillaNumber.VillaNo" />
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="col-2">
                <label asp-for="VillaNumber.VillaNo" class="control-label pt-2" style="font-size:20px;">Số phòng</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="VillaNumber.VillaNo" disabled class="form-control" />
                <span asp-validation-for="VillaNumber.VillaNo" class="text-danger"></span>
            </div>

            <div class="col-2">
                <label asp-for="VillaNumber.VillaId" class="control-label pt-2" style="font-size:20px;">Chọn khách sạn</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="VillaNumber.VillaId" class="form-select" asp-items="@Model.VillaList">
                    <option disabled selected>--Select Villa--</option>
                </select>
                <span asp-validation-for="VillaNumber.VillaId" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="VillaNumber.SpeciaDetails" class="control-label pt-2" style="font-size:20px;">Nội dung</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="VillaNumber.SpeciaDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="VillaNumber.SpeciaDetails" class="text-danger"></span>
                <span asp-validation-for="VillaNumber.SpeciaDetails" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="IndexVillaNumber" asp-controller="VillaNumber" class="btn-primary btn form-control ">Quay về danh sách</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Lưu" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}